<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
</head>
<body>
    <div id="chat-container">
        <div id="chat-box">
            <div class="message bot-response">Welcome! I'm a Salesworx Assistant.😊 How can I assist you today?</div>
        </div>
        <input type="text" id="user-input" placeholder="Type a message...">
        <button id="send-button">Send</button>
    </div>

    <script>
        document.getElementById('send-button').addEventListener('click', function() {
            var userInput = document.getElementById('user-input').value;
            if (userInput) {
                var chatBox = document.getElementById('chat-box');
                chatBox.innerHTML += '<div class="message user-message">' + userInput + '</div>';
                document.getElementById('user-input').value = '';

                fetch('/chat', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ message: userInput })
                })
                .then(response => response.json())
                .then(data => {
                    chatBox.innerHTML += '<div class="message bot-response">' + data.response + '</div>';
                });
            }
        });
    </script>
</body>
</html>
